#about{
    background: linear-gradient(-45deg, white 30%, #0a3433 333% );
}

.about__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__container img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__container h1{
    display: inline-block;
}


.about__greet{
    position: relative;
    width: 22%;
    margin: auto;
    color: white;
    -webkit-text-stroke: 0.1vw black;
   font-size: var(--h1-font-size);
   margin-bottom: 20px;
}

.about__greet::before{
    content: "Hey...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: grey;
    -webkit-text-stroke: 0vw black;
    border-right: 2px solid black;
    overflow: hidden;
    animation: hey_animate 6s linear infinite;
}

@keyframes hey_animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

.about__myname{
    position: relative;
    font-size: var(--h2-font-size);
    margin-bottom: 14px;
    padding-left: 5.4rem;
}

.about__myname::before{
    content: "";
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.about__social{
    display: flex;
    width: 150px;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-top: 30px;
}

.about__social-icon{
    font-size: 1.25rem;
    color: var(--title-color);
}

.about__social-icon:hover{
    color: var(--title-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__container{
        grid-template-columns: 1fr;
        align-items: center;
        column-gap: 4rem;
    }
    .about__container img{
        margin-bottom: 30px;
    }
    .about__greet{
        width: 70px;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .about__greet{
        width: 70px;
    }
  }
  
  @media screen and (max-width: 576px) {}
  
  /* For small devices */
  @media screen and (max-width: 350px) {
   
  }